<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
           	<NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-p{length=1}] %d %l: %m%n" />
		</Console>
		<Console name="flowConsole" target="SYSTEM_OUT">
     		<MarkerFilter marker="FLOW" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-p{length=1}] %d %l: %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="console" />
			<AppenderRef ref="flowConsole" />
		</Root>
	</Loggers>
</Configuration>	